body {
    color: white;
    background-color:#000f26;
    background-size: cover;
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    font-weight: 400;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.charts-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.chart-container {
    width: 48%;
}